<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action ="/items" method="post">
    Item Name: <br>
    <input type="text" name="name"><br>
    Item photo: <br>
    <input type="text" name="photo"><br>
    Description: <br>
    <input type="text" name="description"><br>
    Price per hour: <br>
    <input type="text" name="price_hour"><br>
    Price per day: <br>
    <input type="text" name="price_day"><br>
    Price per week: <br>
    <input type="text" name="price_week"><br>
    Price per month: <br>
    <input type="text" name="price_month"><br>

    <input type="submit">
</form>

</body>
</html>